.temporizador {
  background-color: #121212;
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 0 10px rgba(189, 227, 24, 0.3);
  border: 2px solid #bde318;
  margin-bottom: 1rem;
}

.temporizador .titulo {
  color: #bde318;
  letter-spacing: 1px;
}

.temporizador .contador {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.temporizador .contador.finalizado {
  color: #ff4d4d;
  font-weight: 800;
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

/* Responsivo para mobile */
@media (max-width: 430px) {
  .temporizador {
    padding: 10px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    gap: 13px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(189, 227, 24, 0.3);
    border: 2px solid #bde318;
  }
}

/* Responsivo para mobile */
@media (max-width: 394px) {
  .temporizador {
    padding: 15px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 2rem;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-weight: bold;
    font-size: 10px;
    box-shadow: 0 0 10px rgba(189, 227, 24, 0.3);
    border: 2px solid #bde318;
  }
}
