.contato-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background: #f5f5f5;
  border: solid 3px #bde318;
  border-radius: 12px;
  text-align: center;
}

.container-menu {
  padding: 5rem;
  background-image: url("/src/assets/background/background.png");
  background-size: cover;
}
.formulario-contato input,
.formulario-contato textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.formulario-contato button {
  background-color: #e61c0e;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  border: solid 2px #e61c0e;
}

.formulario-contato button:hover {
  background-color: #ffffff;
  color: black;
  border: solid 2px black;
}
