.container {
  background-color: black;
}
.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.produto {
  background: linear-gradient(145deg, #1f1f1f, #2a2a2a);
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  position: relative;
}

.produto:hover {
  transform: scale(1.03);
  box-shadow: 0 18px 40px rgba(0, 255, 100, 0.15);
}

.produto img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 1rem;
  box-shadow: 0 0 15px #03f707a9;
}

.produto h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #03f709;
}

.produto p {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
}

.preco-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.preco-antigo {
  text-decoration: line-through;
  color: #ff4c4c !important;
  font-size: 1rem;
}

.preco-novo {
  color: #ffffff !important;
  font-size: 1.2rem;
  font-weight: bold;
}

.produto button {
  background: #03f709;
  color: #121212;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 12px rgba(189, 227, 24, 0.3);
}

.produto button:hover {
  background-color: #fff;
  color: #121212;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* Categoria menu (mantido) */
.categorias-menu::-webkit-scrollbar {
  height: 6px;
}
.categorias-menu::-webkit-scrollbar-thumb {
  background: #03f709;
  border-radius: 10px;
}
