:root {
  --verde: #03f709;
  --preto: #0c0d11;
  --vermelho: #fc2e2e;
  --branco: #ffffff;
  --cinza: #323337;
  --cinzaclaro: #c5c5c5;
  --neon-glow: rgba(0, 255, 144, 0.3);
}
/* Container principal com fundo */
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1rem;
}

.container-secondario {
  background-color: black !important;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
}
.container-termos {
  background-size: cover;
  background-position: center;
  background-color: black;
}

/* Caixa de conteúdo dos termos */
.termos-container {
  max-width: 800px;
  width: 100%;
  background-color: var(--preto);
  color: #121212;
  line-height: 1.7;
  font-size: 1.1rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 4rem;
  box-sizing: border-box;
  margin: 2rem auto;
  text-align: left;
}

/* Título principal */
.termos-container h2 {
  font-size: 2rem;
  color: #03f709;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Subtítulos */
.termos-container h3 {
  font-size: 1.4rem;
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

/* Parágrafos e listas */
.termos-container p,
.termos-container li {
  margin-bottom: 1rem;
  color: #808080;
}

/* Listas */
.termos-container ul {
  padding-left: 1.2rem;
  list-style-type: disc;
}

/* Responsivo para tablets */
@media (max-width: 768px) {
  .termos-container {
    padding: 2rem;
    font-size: 1rem;
  }

  .termos-container h2 {
    font-size: 1.5rem;
  }

  .termos-container h3 {
    font-size: 1.2rem;
  }
}

/* Responsivo para celulares */
@media (max-width: 480px) {
  .termos-container h2 {
    font-size: 1.3rem;
  }

  .termos-container h3 {
    font-size: 1.1rem;
  }
}
