:root {
  --verde: #03f709;
  --preto: #0c0d11;
  --vermelho: #fc2e2e;
  --branco: white;
  --cinza: #323337;
  --cinzaclaro: #c5c5c5;
}
.banner {
  background-color: var(--preto);
  display: flex;
  justify-content: center;
}

.banner-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  background-image: url("/src/components/Banners/banner-img/background-banner.webp");
}

.banner-image img {
  max-width: 500px;
  border-radius: 1rem;
}

.img-estatua {
  size: 50px;
}

.banner-text {
  flex: 1;
  padding: 10px;
  min-width: 280px;
  background-color: var(--preto);
  border: solid 1px #9b9b9b;
  border-radius: 20px;
}

.banner-text h1 {
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 2px;
}

.banner-text p {
  font-size: 1.25rem;
  color: #c5c5c5;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  padding: 1rem;
}

/* Responsividade para mobile */
@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
  }

  .banner-text h1 {
    font-size: 1.8rem;
  }

  .banner-text p {
    font-size: 1rem;
  }

  .banner-image img {
    max-width: 100%;
  }
}
